/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h1,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  background-image: url();
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://images.unsplash.com/photo-1553095066-5014bc7b7f2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80");
  background-size: cover;
  background-repeat: no-repeat;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-family: "Ubuntu";
  height: 100%;
  z-index: 3;
}

.contacts {
  margin-bottom: 20px;
}

.contacts__item {
  color: black;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 2px;
  margin-bottom: 10px;
  padding: 10px;
}

.contacts__button {
  margin-left: auto;
  border: none;
  background-color: aliceblue;
  border: 2px solid black;
  border-radius: 2px;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 20px;
}

.form__input {
  color: black;

  border: 3px solid black;

  border-radius: 2px;
  margin-bottom: 10px;
}

.form__button {
  background-color: aliceblue;
  border: 3px solid black;

  border-radius: 2px;
  padding: 10px;
  cursor: pointer;
}

.filter {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.filter__input {
  background-color: aliceblue;
  border: 3px solid black;

  border-radius: 5px;
}
